name: Lock Branch
on:
  pull_request:
    types:
      - closed
    branches: main

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to create the lock branch
      pull-requests: write # Recommended for full functionality
    steps:
      - name: ${{ 'lock' }} branch
        uses: suzuki-shunsuke/lock-action@v1 # Use the action
        with:
          key: ${{ github.event.pull_request.head.ref }} # The branch name as the lock key
          mode: ${{ 'lock' }} # 'lock' or 'unlock'
          github_token: ${{ secrets.GITHUB_TOKEN }} # Use the default GITHUB_TOKEN
